<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
         <figure>
            <img src="img/about.svg" alt="herosection_img"> 
         </figure >
        </div>

        {{!- right side -}}
        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
           {{!-- <h1>FullStack Developer </h1> --}}
           <h1>I WILL HELP YOU TO</h1>
           <h1>GROW YOUR BUSINESS</h1>
           {{!-- <p>Welcome To<span class="bold-style"> Abhay </span>
           , Your Number One Source For All Things. We are Dedicated To Giving You The Very best of Work.</p>  --}}
           <p>I am a quick learner, coding enthusiast, and a competitive programmer specializing in C/C++. Additionally, I am currently exploring the field of      
            full stack development, actively working on projects.</p>
           {{!-- <button class="btn-style btn-primary" >Read more</button> --}}
           <a href="https://abhay3819.github.io/Portfolio../" target="blank" ><button class="btn-style btn-primary">Meet New One</button></a>
        </div>

      </div>
    </div>
  </div>